<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="AltoroMutual.net.testfire.LogInFailTest"></class>
      <class name="AltoroMutual.net.testfire.LogInSuccessTest"></class>
      <class name="AltoroMutual.net.testfire.CheckAccountAvaliableBalanceTest"></class>
      <class name="AltoroMutual.net.testfire.TrasferFundsTest"></class>
      <class name="AltoroMutual.net.testfire.ViewRecentTransactionsTest"></class>
      <class name="AltoroMutual.net.testfire.ContactUsTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
